#start-btn
{
    width: 60%;
} 
#camera
{
    width:140px;
    height: 220px;
    border:5px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    border-radius: 40px;
}


